# Core modules (mandatory)
jupyterlite-core==0.1.0
jupyterlab~=3.5.1

# Python kernel (optional)
jupyterlite-pyodide-kernel==0.0.6

# PGFinder (from HEAD of master)
git+https://github.com/Mesnage-Org/PGFinder.git

# Python: ipywidget library for Jupyter notebooks (optional)
ipysheet
ipywidgets>=8.0.0,<9
jupyter_contrib_nbextensions
